<ul class="nav nav-tabs mr-auto">
    <li class="nav-item">
      <a routerLinkActive="Active current" class="nav-link" routerLink="/dashboard"><span class="fa fa-home fa-lg"></span>Home</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="Active current" class="nav-link" routerLink="/profile"><span class="fa fa-info fa-lg"></span> Profile</a>
    </li> 
    <li class="nav-item">
      <a routerLinkActive="Active current" class="nav-link" routerLink="/contact"><span class="fa fa-address-card fa-lg"></span> Contact</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="Disabled current" class="nav-link">Disabled</a>
    </li>
    <li class="nav-item" >
      <a routerLinkActive="Active current" class="nav-link" routerLink="/"><span class="fa fa-sign-out fa-lg"></span>LOGOUT</a>
    </li>
  </ul><br>
  <h2 align="center"> Contact Information </h2><br><br>
<div class="container">
  <div class="row row-content">
        <div class="col-12 col-sm-4 offset-sm-1">
               <h5>My Address</h5>
               <address style="font-size: 100%">
              Modern colony, Janaki Nagar<br>
              Jai Bhavani Nagar, Kothrud<br>
             Pune-411038<br>
              <i class="fa fa-phone"></i>: --------<br>
              <i class="fa fa-fax"></i>: +91-----------<br>
              <i class="fa fa-envelope"></i>:
                    <a href="surajgaikwad2410@gmail.com">surajgaikwad2410@gmail.com</a>
           </address>
           <div class="btn-group" role="group">
              <a role="button" class="btn btn-primary" href="tel:"><i class="fa fa-phone"></i> Call</a>
              <a role="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
              <a role="button" class="btn btn-success" href="mailto:surajgaikwad2410@gmail.com"><i class="fa fa-envelope-o"></i> Email</a>
              </div>
        </div>        
        <div class="col-12 col-sm-6 offset-sm-1">
            <h5>My Location</h5>                         
        </div>
    </div>
</div><br><hr>
