<ul class="nav nav-tabs mr-auto">
    <li class="nav-item">
      <a routerLinkActive="Active current" class="nav-link" routerLink="/dashboard"><span class="fa fa-home fa-lg"></span>Home</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="Active current" class="nav-link" routerLink="/profile"><span class="fa fa-info fa-lg"></span> Profile</a>
    </li> 
    <li class="nav-item">
      <a routerLinkActive="Active current" class="nav-link" routerLink="/contact"><span class="fa fa-address-card fa-lg"></span> Contact</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="Disabled current" class="nav-link">Disabled</a>
    </li>
    <li class="nav-item" >
      <a routerLinkActive="Active current" class="nav-link" routerLink="/"><span class="fa fa-sign-out fa-lg"></span>LOGOUT</a>
    </li>
  </ul><br>
<p style="color:cornsilk;">Welcome {{name}}, You are authenticated User.</p>
<div class="container">
  <div class="row">
  <div class="col-1"></div>
  <div class="col-10">
 <div id="demo" class="carousel slide" data-ride="carousel">
   <ul class="carousel-indicators">
     <li data-target="#demo" data-slide-to="0" class="active"></li>
     <li data-target="#demo" data-slide-to="1"></li>
     <li data-target="#demo" data-slide-to="2"></li>
     <li data-target="#demo" data-slide-to="3"></li>
     <li data-target="#demo" data-slide-to="4"></li>
   </ul>
   <div class="carousel-inner">
     <div class="carousel-item active">
       <img src="/assets/images/pune1.jpg" alt="Pune-1"  width="1100" height="700">
       <div class="carousel-caption d-none d-md-block">
         <h3>Pune</h3>
         <p>We had such a great time traveling on this road</p>
       </div>   
     </div>
     <div class="carousel-item">
       <img src="/assets/images/pune2.jpg" alt="Lavasa"  width="1100" height="700">
       <div class="carousel-caption d-none d-md-block">
         <h3>Lavasa</h3>
         <p>Beautiful city Lavasa</p>
       </div>   
     </div>
     <div class="carousel-item">
       <img src="/assets/images/pune3.jpg" alt="IT-Park"  width="1100" height="700">
       <div class="carousel-caption d-none d-md-block">
         <h3>Pune IT Park</h3>
         <p>We love this park</p>
       </div>   
     </div>
     <div class="carousel-item">
        <img src="/assets/images/pune4.jpg" alt="Stadium"  width="1100" height="700">
        <div class="carousel-caption d-none d-md-block">
          <h3>Cricket Stadium</h3>
          <p>East or West Cricket is best</p>
        </div>   
      </div>
      <div class="carousel-item">
          <img src="/assets/images/pune5.png" alt="shaniwarwada"  width="1100" height="700">
          <div class="carousel-caption d-none d-md-block">
            <h3>Shaniwar Wada</h3>
            <p>Historical place in Pune</p>
          </div>   
        </div>
   </div>
   <a class="carousel-control-prev" href="#demo" data-slide="prev">
     <span class="carousel-control-prev-icon"></span>
   </a>
   <a class="carousel-control-next" href="#demo" data-slide="next">
     <span class="carousel-control-next-icon"></span>
   </a>
 </div>
 </div>
  <div class="col-1"></div>
 </div></div><br><hr>

